*{
    margin: 0;
}
.wrapper{
    background-color: gray;
    width:650px;
    height: 450px;
    margin-left: 350px;
    margin-top: 95px;
    border-radius: 15px;
}
.top{
    background-color: greenyellow;
    width: 450px;
    height: 90px;
    margin-left: 100px;
}
.center{
    background-color: burlywood;
    width: 450px;
    height: 270px;
    margin-left: 100px;
}
.bottom{
    background-color: brown;
    width: 450px;
    height: 90px;
    margin-left: 100px;
}

